<div class="seleccionCliente">
    <div class="marco" style="border-bottom: 1px solid #808080;">
        <p style="color: #0000009d;">

            Seleccion de Cliente
        </p>
    </div>
    <div class="body-seleccion marco">
        <ul>

            {% include 'icons/person.html' %}
            {% include 'icons/person_id.html' %}
            {% include 'icons/person_escribano.html' %}
        </ul>
        <ul>
            {% include 'icons/person_email.html' %}

        </ul>

    </div>
</div>
<style>
    .seleccionCliente {
        border-radius: 5px;
        height: 200px;
        border: 1px solid #808080;
        background-color: #ffffff;
    }

    .marco {
        padding: 15px 20px 15px 20px;
        /* border-bottom: 1px solid #808080; */
    }

    .body-seleccion {
        display: flex;
        justify-content: space-between;
    }

    .body-seleccion ul {
        list-style-type: none;
        padding: 0;
    }

    .body-seleccion li {
        display: block;
    }

    .datosCliente {
        display: flex;
        align-items: center;
        padding: 10px 0 10px 0;
        gap: 10px;

    }
</style>