<div class="seleccionCliente">
    <div class="marco" style="border-bottom: 1px solid #808080;">
        <p style="color: #0000009d;">

            Seleccion de Cliente
        </p>
    </div>
    <div class="body-seleccion">
        <ul>
            <div id="clienteNombre">Cliente:</div>
            <div id="clienteId">ID:</div>
           
 
        </ul>
        <ul>
            <li>
                s
            </li>
        </ul>
    
    </div>
</div>
<style>
    .seleccionCliente {
        border-radius: 5px;
        height: 200px;
        border: 1px solid #808080;
        background-color: #ffffff;
    }

    .marco {
        padding: 15px 0 15px 20px;
        border-bottom: 1px solid #808080;
    }

    .body-seleccion {
        display: flex;
        justify-content: space-around;
    }

    .body-seleccion ul {
        list-style-type: none;
        padding: 0;
    }

    .body-seleccion li {
        display: block;
    }
</style>
<script>
    document.addEventListener('cambioAutocomplete', function (event) {
        // Obtener el nuevo valor del detalle del evento

        const nuevoValor = event.detail.valor;
        console.log(nuevoValor)
        // Cambiar el div según el nuevo valor del autocomplete
        const nombre = document.getElementById('clienteNombre');
        const id = document.getElementById('clienteId');

        id.textContent = "ID: " + nuevoValor.identificacion
        nombre.textContent = "Cliente: " + nuevoValor.nombre

    });
</script>