{% extends 'home.html' %}
{% block content %}
<section>
  <div>
    <div class="form-container">
      <form method="post" action="{% url 'actualizarCliente' cliente.identificacion%}">
        {% csrf_token %}
        <label for="nombre" class="form-label">NOMBRE</label>
        <input name="nombre" id="nombre" value="{{cliente.nombre}}" class="input-estilo" />

        <label for="identificacion" class="form-label">DNI/CUIT</label> 
        <input name="identificacion" id="identificacion" value="{{cliente.identificacion}}" class="input-estilo"/>

        <label for="escribano" class="form-label">ESCRIBANO</label>
        <input id="escribano" name="escribano" type="checkbox" {% if cliente.escribano %}checked{% endif %} />
        <button>Guardar</button>
      </form>
    </div>
    <br />
    <br />
    {% include 'components/ed_telefono.html' %}
    <div class="form-container">
      <label for="telefono" class="form-label">TELEFONO</label>
      {% if cliente_obj.contacto %}
      <div style="display: flex; justify-content: space-between">
        <div id="telefono" class="editable" contenteditable="false">
          {{cliente_obj.contacto.telefono}}
        </div>
        <!-- <label id="telefono"></label> -->
        <div style="display: flex; justify-content: flex-end; gap: 5px">
          <a id="editButton" class="litButton">
            <svg width="16px" height="16px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"
              stroke="#ffffff">
              <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
              <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
              <g id="SVGRepo_iconCarrier">
                <path
                  d="M21.2799 6.40005L11.7399 15.94C10.7899 16.89 7.96987 17.33 7.33987 16.7C6.70987 16.07 7.13987 13.25 8.08987 12.3L17.6399 2.75002C17.8754 2.49308 18.1605 2.28654 18.4781 2.14284C18.7956 1.99914 19.139 1.92124 19.4875 1.9139C19.8359 1.90657 20.1823 1.96991 20.5056 2.10012C20.8289 2.23033 21.1225 2.42473 21.3686 2.67153C21.6147 2.91833 21.8083 3.21243 21.9376 3.53609C22.0669 3.85976 22.1294 4.20626 22.1211 4.55471C22.1128 4.90316 22.0339 5.24635 21.8894 5.5635C21.7448 5.88065 21.5375 6.16524 21.2799 6.40005V6.40005Z"
                  stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                <path
                  d="M11 4H6C4.93913 4 3.92178 4.42142 3.17163 5.17157C2.42149 5.92172 2 6.93913 2 8V18C2 19.0609 2.42149 20.0783 3.17163 20.8284C3.92178 21.5786 4.93913 22 6 22H17C19.21 22 20 20.2 20 18V13"
                  stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
              </g>
            </svg>
          </a>
          <a id="deleteButton" class="litButton">
            <svg width="16px" height="16px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
              <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
              <g id="SVGRepo_iconCarrier">
                <path d="M10 12V17" stroke="#ffffff" stroke-width="2.4" stroke-linecap="round" stroke-linejoin="round">
                </path>
                <path d="M14 12V17" stroke="#ffffff" stroke-width="2.4" stroke-linecap="round" stroke-linejoin="round">
                </path>
                <path d="M4 7H20" stroke="#ffffff" stroke-width="2.4" stroke-linecap="round" stroke-linejoin="round">
                </path>
                <path d="M6 10V18C6 19.6569 7.34315 21 9 21H15C16.6569 21 18 19.6569 18 18V10" stroke="#ffffff"
                  stroke-width="2.4" stroke-linecap="round" stroke-linejoin="round"></path>
                <path d="M9 5C9 3.89543 9.89543 3 11 3H13C14.1046 3 15 3.89543 15 5V7H9V5Z" stroke="#ffffff"
                  stroke-width="2.4" stroke-linecap="round" stroke-linejoin="round"></path>
              </g>
            </svg>
          </a>
        </div>
      </div>
      {% else %}

      <div>
        <a class="litButton">
          <svg width="16px" height="16px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
            <g id="SVGRepo_iconCarrier">
              <path d="M4 12H20M12 4V20" stroke="#ffffff" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round"></path>
            </g>
          </svg>
        </a>
      </div>


      {% endif %}

      <br />
      <br />
      {% if cliente_obj.email %}
      <label for="telefono" class="form-label">EMAIL</label>
      <label>{{cliente_obj.email.email}}</label>
      {% endif %}
    </div>
  </div>
</section>
<script>
  var editButton = document.getElementById("editButton");
  var labelTelefono = document.getElementById("telefono");

  editButton.addEventListener("click", function () {
    if (labelTelefono.contentEditable === "false") {
      // Si el label es editable, lo hacemos no editable y cambiamos el ícono del botón
      labelTelefono.contentEditable = "true";
      labelTelefono.focus();
      // Cambiar el ícono del botón a un SVG diferente
      editButton.innerHTML =
        '<svg width="16px" height="16px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">' +
        '<g id="SVGRepo_bgCarrier" stroke-width="0"></g>' +
        '<g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>' +
        '<g id="SVGRepo_iconCarrier">' +
        '<path d="M4 12.6111L8.92308 17.5L20 6.5" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>' +
        "</g>" +
        "</svg>";
      editButton.style.backgroundColor = "green";
    } else {
      // Si el label no es editable, lo hacemos editable y cambiamos el ícono del botón
      labelTelefono.contentEditable = "false";
      // Cambiar el ícono del botón a otro SVG
      editButton.style.backgroundColor = "#6b84ff";

      editButton.innerHTML =
        '<svg width="16px" height="16px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"  stroke="#ffffff">' +
        '<g id="SVGRepo_bgCarrier" stroke-width="0"></g>' +
        '<g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>' +
        '<g id="SVGRepo_iconCarrier">' +
        '<path d="M21.2799 6.40005L11.7399 15.94C10.7899 16.89 7.96987 17.33 7.33987 16.7C6.70987 16.07 7.13987 13.25 8.08987 12.3L17.6399 2.75002C17.8754 2.49308 18.1605 2.28654 18.4781 2.14284C18.7956 1.99914 19.139 1.92124 19.4875 1.9139C19.8359 1.90657 20.1823 1.96991 20.5056 2.10012C20.8289 2.23033 21.1225 2.42473 21.3686 2.67153C21.6147 2.91833 21.8083 3.21243 21.9376 3.53609C22.0669 3.85976 22.1294 4.20626 22.1211 4.55471C22.1128 4.90316 22.0339 5.24635 21.8894 5.5635C21.7448 5.88065 21.5375 6.16524 21.2799 6.40005V6.40005Z" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">' +
        '</path><path d="M11 4H6C4.93913 4 3.92178 4.42142 3.17163 5.17157C2.42149 5.92172 2 6.93913 2 8V18C2 19.0609 2.42149 20.0783 3.17163 20.8284C3.92178 21.5786 4.93913 22 6 22H17C19.21 22 20 20.2 20 18V13" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path></g></svg>';
      console.log("{{cliente_obj.contacto.id}}");

      function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== "") {
          const cookies = document.cookie.split(";");
          for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === name + "=") {
              cookieValue = decodeURIComponent(
                cookie.substring(name.length + 1)
              );
              break;
            }
          }
        }
        return cookieValue;
      }

      const csrftoken = getCookie("csrftoken");

      fetch("{% url 'actualizarContacto' %}", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
          "X-CSRFToken": csrftoken, // Incluir el token CSRF en los encabezados
        },
        body: JSON.stringify({
          id: "{{cliente_obj.contacto.id}}",
          telefono: labelTelefono.innerText,
        }),
      })
        .then((response) => response.json())
        .then((data) => {
          console.log("Success:", data);
        })
        .catch((error) => {
          console.error("Error:", error);
        });
    }

  });
</script>
<style>
  .form-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
  }

  .form-label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333333;
  }

  .input-estilo {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
  }

  .input-estilo:focus {
    border-color: #66afe9;
    outline: none;
    box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
  }

  .litButton {
    background-color: #6b84ff;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
  }

  .litButton:hover {
    background-color: #6b84ff93;
  }


  .successButton {
    background-color: green;
  }

  .editable {
    padding: 4px 4px 0;
  }
</style>
{% endblock %}