{% extends 'home.html' %} {% block content %}
<section>
  <div>
    <div class="form-container">
      <form
        method="post"
        action="{% url 'actualizarCliente' cliente.identificacion%}"
      >
        {% csrf_token %}
        <label for="nombre" class="form-label">NOMBRE</label>
        <input
          name="nombre"
          id="nombre"
          value="{{cliente.nombre}}"
          class="input-estilo"
        />

        <label for="identificacion" class="form-label">DNI/CUIT</label>
        <input
          name="identificacion"
          id="identificacion"
          value="{{cliente.identificacion}}"
          class="input-estilo"
        />

        <label for="escribano" class="form-label">ESCRIBANO</label>
        <input
          id="escribano"
          name="escribano"
          type="checkbox"
          {%
          if
          cliente.escribano
          %}checked{%
          endif
          %}
        />
        <button>Guardar</button>
      </form>
    </div>
    <br />
    <br />
    <div class="form-container">
      {% if cliente_obj.contacto %}
        {% url 'actualizarContacto' as update_contact_url %}
        {% include 'components/labelEditable.html' with title="TELEFONO" data=cliente_obj.contacto.telefono id="telefono" data_id=cliente_obj.contacto.id data_url=update_contact_url%} 

      {% else %}

      <div>
        <a class="litButton">
          <svg
            width="16px"
            height="16px"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g
              id="SVGRepo_tracerCarrier"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></g>
            <g id="SVGRepo_iconCarrier">
              <path
                d="M4 12H20M12 4V20"
                stroke="#ffffff"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></path>
            </g>
          </svg>
        </a>
      </div>

      {% endif %}

      <br />
      <br />
      {% if cliente_obj.email %} 
        {% url 'actualizarEmail' as update_email_url%}
        {% include 'components/labelEditable.html' with title="EMAIL" data=cliente_obj.email.email id="email" data_id=cliente_obj.email.id data_url=update_email_url %} 
      {% endif %}
    </div>
  </div>
</section>

<style>
  .form-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
  }

  .form-label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333333;
  }

  .input-estilo {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
  }

  .input-estilo:focus {
    border-color: #66afe9;
    outline: none;
    box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
  }

  .litButton {
    background-color: #6b84ff;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
  }

  .litButton:hover {
    background-color: #6b84ff93;
  }

  .successButton {
    background-color: green;
  }

  .editable {
    width:100%;
  }
</style>
{% endblock %}
