<div id="container">
    <h2>Iniciar sesion</h2>
    <form method="post">
        {% csrf_token %}
        <input type="text" placeholder="usuario" name="username" class="login-input"></input>
        <input type="password" placeholder="contraseña" name="password" class="login-input"></input>
        <button type="submit" class="login-button" >Iniciar sesion</button>
    </form>
    {% if messages %}
        {% for message in messages %}
        <div id="formessage"></div>
        <div style="background-color: red; padding: 4px; border-radius: 5px;">
            <span style="color:white; font-size: 18px; font-weight: 500;">{{message}}</span>

        </div>
        {% endfor %}
    {% endif %}
    <p>Olvido su contraseña?</p>
</div>
<style>
    /* Style for login form */
    #container {
        width:300px;
        margin:100px auto 0
    }
    .login-input {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;    
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
    }

    .login-button {
        background-color: #4CAF50;
        color: white;
        padding: 10px 15px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        width: 100%;
        font-size: 16px;
    }

    .login-button:hover {
        background-color: #45a049;
    }
</style>
