<form method="post" action="logout/">
    {%csrf_token%}
    <button class="logout">Cerrar sesion</button>
</form>
<style>
    .logout {
        background-color: #f44336; /* Red */
        border: none;
        color: white;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 5%;
    }

    .logout:hover {
        background-color: #d32f2f; /* Darker red */
    }
</style>