<div class="autocomplete">
    <input type="text" id="myInput" placeholder="Buscar...">
    <div id="autocomplete-list" class="autocomplete-items"></div>
</div>

<style>
    .autocomplete {
        position: relative;
        display: inline-block;
    }

    .autocomplete-items {
        position: absolute;
        border: 1px solid #d4d4d4;
        border-radius: 5px;
        background-color: #fff;
        z-index: 99;
        width: 100%;
    }

    .autocomplete-items div {
        padding: 10px;
        cursor: pointer;
    }

    .autocomplete-items div:hover {
        background-color: #e9e9e9;
    }
</style>

<script>
    var countries = JSON.parse('{{clientes|escapejs}}');
    document.getElementById("myInput").addEventListener("input", function () {
        var val = this.value;
        var autocompleteList = document.getElementById("autocomplete-list");
        autocompleteList.innerHTML = "";
        if (val.length > 0) {
            var matchingCountries = countries.filter(function (country) {
                return country.toLowerCase().startsWith(val.toLowerCase());
            });
            matchingCountries.forEach(function (country) {
                var item = document.createElement("div");
                item.textContent = country;
                autocompleteList.appendChild(item);
            });
            autocompleteList.style.display = "block";
        } else {
            autocompleteList.style.display = "none";
        }
    });

    document.addEventListener("click", function (e) {
        var autocompleteList = document.getElementById("autocomplete-list");
        if (!e.target.matches("#myInput")) {
            autocompleteList.style.display = "none";
        }
    });

    document.getElementById("autocomplete-list").addEventListener("click", function (e) {
        if (e.target && e.target.nodeName == "DIV") {
            document.getElementById("myInput").value = e.target.textContent;
            this.style.display = "none";
        }
    });

</script>