<div class="dropdown">

  <button onclick="toggleDropdown()" class="menuBtn">
    <svg width="24px" height="24px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
      <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
      <g id="SVGRepo_iconCarrier">
        <path d="M4 6H20M4 12H20M4 18H20" stroke="#000000" stroke-width="2" stroke-linecap="round"
          stroke-linejoin="round"></path>
      </g>
    </svg>
  </button>

</div>
<div id="myDropdown" class="dropdown-content">
  <div style="padding: 12px 16px;">
    <span style="display: block; font-weight: bold;">{{user.username}}</span>
    <span style="display: block;">{{user.email}}</span>
  </div>
  {% include 'components/expandible.html' with urls=urls %}
  <div class="pmenuElements">
    {% include 'registration/logout.html' %}
  </div>

</div>
<style>
  .spanconfig {
    border-bottom: 1px solid rgba(128, 128, 128, 0.479);
  }
 /* Estilos del contenedor del menú */
  .pmenuElements {
    padding: 12px 16px;
  }
  .menuBtn {
    border-radius: 50%;
    border: none;
    background-color: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    padding: 8px 8px 5px 8px
  }

  .menuBtn:hover {
    background-color: #f1f1f1b2 !important;
  }

  .dropdown {
    position: relative;
    display: inline-block;
    left: 20px;
    top: 20px;
  }
  

  /* Estilos del contenido del menú */
  .dropdown-content {
    display: none;
    width: 300px;
    position: relative;
    left: 10px;
    top: 30px;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  /* Estilos de los enlaces del menú */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  /* Estilos al pasar el mouse sobre los enlaces */
  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }

  /* Mostrar el menú cuando el botón se activa */
  .show {
    display: block;
  }
</style>
<script>
  function toggleDropdown() {
    var dropdown = document.getElementById("myDropdown");
    dropdown.classList.toggle("show");
  }

  // Cerrar el menú si el usuario hace clic fuera de él
  window.onclick = function (event) {
    var dropdown = document.getElementById("myDropdown");
    if (!event.target.closest(".dropdown") && !event.target.closest(".dropdown-content")) {
      dropdown.classList.remove("show");
    }
  };
</script>